header{
   padding-top: 5em;

}
.background_image{
        height: 100%;
        position: relative;
        opacity: 0.93;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}
h1{
    color: blueviolet;
    
}
h3{
    color: blueviolet;
    
}

article{
    border-style:solid;
}
section{
    border: 4em;
    margin:1em;
    color:black;
    width: 300px;
    padding: 2rem;
    border-radius: 2em;
    box-sizing:border-box;
    background-color:blueviolet;
}
.c1{
    color: black;

}



